.about {
  padding: 24px;
  margin-bottom: 80px;
  @media (min-width: 768px) {
    padding: 90px;
    margin-bottom: 120px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 24px;
    line-height: normal;
    font-weight: 700;
    @media (min-width: 768px) {
      font-size: 48px;
      margin-bottom: 44x;
    }
  }

  p {
    margin-bottom: 40px;
    color: #e0e5f3;
  }
}
